// Colors
$blue:   #3b5998;
$orange: #db5a4a;
$white:  #ffffff;
$black:  #272727;

// Fonts
@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat');
$primary:   'Montserrat', sans-serif;
$secondary: 'Lato', sans-serif;

