// Colors
$blue: rgb(59, 89, 152);
$orange: #db5a4a;
$white: #ffffff;
$black: #272727;
$alpha: 0.7;

// Fonts
@import url("https://fonts.googleapis.com/css?family=Lato|Montserrat:400,700");
$primary: "Montserrat", sans-serif;
$secondary: "Lato", sans-serif;

// Reset & Common elements
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

.container {
  max-width: 960px;
  margin: auto;
  overflow: hidden;
  padding: 0 3rem;
}

body {
  font-family: $secondary;
  color: $black;
  text-align: center;
}

// Nav
nav {
  width: 100%;
}
.menu-wrap {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;

  .toggle {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
  }

  .toggle-icon {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 60px;
    height: 60px;
    padding: 1rem;
    background: $blue;
    display: flex;
    align-items: center;
    justify-content: center;

    > div {
      position: relative;
      width: 100%;
      height: 2px;
      background-color: $white;
      display: flex;
      align-items: center;
      justify-content: center;

      &::before,
      &::after {
        content: "";
        position: absolute;
        z-index: 1;
        top: -10px;
        width: 100%;
        height: 2px;
        background: inherit;
      }
      &::after {
        top: 10px;
      }
    }
  }
}

// Header
header {
  &.hero {
    background-color: rgba($blue, $alpha);
    color: $white;
    height: 100vh;
    position: relative;

    &::before {
      content: "";
      background-image: url(../img/bg-2.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      background-attachment: fixed;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
    }

    .hero-content {
      h1 {
        font-family: $primary;
        text-transform: uppercase;
        font-size: 30px;
        color: $white;
        margin: 30px 0;
        text-align: center;
        font-weight: bold;
      }
    }
  }
}

// Sections
section {
  background-color: $white;
}

// Footer
footer {
  padding: 60px 0;
  background-color: $black;
  color: $white;
}
