// Colors
$blue: rgba(59, 89, 152, 0.5);
$orange: #db5a4a;
$white: #ffffff;
$black: #272727;

// Fonts
@import url("https://fonts.googleapis.com/css?family=Lato|Montserrat:400,700");
$primary: "Montserrat", sans-serif;
$secondary: "Lato", sans-serif;

// Reset & Common elements
* {
  margin: 0;
  padding: 0;
  text-align: center;
}

.container {
  max-width: 960px;
  margin: auto;
  overflow: hidden;
  padding: 0 3rem;
}

body {
  font-family: $secondary;
  color: $black;
}

// Nav

// Header
header {
  &.hero {
    background-color: $blue;
    color: $white;
    height: 100vh;
    position: relative;

    &::before {
      content: "";
      background-image: url(../img/bg-2.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      background-attachment: fixed;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
    }

    .hero-content {
      h1 {
        font-family: $primary;
        text-transform: uppercase;
        font-size: 30px;
        color: $white;
        margin: 30px 0;
        text-align: center;
        font-weight: bold;
      }
    }
  }
}

// Sections
section {
  background-color: $white;
}

// Footer
footer {
  padding: 60px 0;
  background-color: $black;
  color: $white;
}
