// Colors
$blue: rgb(59, 89, 152);
$orange: #db5a4a;
$white: #ffffff;
$black: #272727;
$alpha: 0.7;

// Fonts
@import url("https://fonts.googleapis.com/css?family=Lato:300,400|Montserrat:400,700");
$primary: "Montserrat", sans-serif;
$secondary: "Lato", sans-serif;

// Effects
$radius: 0.3rem;
$shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
$shadow-hover: 0px 0px 5px 0px rgba(0, 0, 0, 1);

// Reset & Common elements
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $secondary;
  color: $black;
  text-align: center;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

i {
  margin-right: 0.5rem;
}

button {
  display: inline-block;
  border: none;
  background: $orange;
  color: #fff;
  padding: 0.75rem 1.5rem;
  margin-top: 1rem;
  text-decoration: none;
  cursor: pointer;
  text-transform: uppercase;
  font-family: $primary;
  font-weight: 700;
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  box-shadow: $shadow;
  transition: all 0.4s ease;
  border-radius: $radius;
  outline: none;

  &:hover {
    background: darken($orange, 5);
    -webkit-box-shadow: $shadow-hover;
    -moz-box-shadow: $shadow-hover;
    box-shadow: $shadow-hover;
  }
}

.container {
  max-width: 960px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
}

// Nav
nav {
  background-color: $white;
  width: 100%;
  height: 100px;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 1;

  .logo {
    height: 50px;

    img {
      height: 100%;
    }
  }

  .menu-wrap {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;

    .toggle {
      position: absolute;
      top: 25px;
      right: 25px;
      z-index: 2;
      cursor: pointer;
      width: 50px;
      height: 50px;
      opacity: 0;
    }

    .toggle-icon {
      position: absolute;
      top: 20px;
      right: 20px;
      z-index: 1;
      width: 60px;
      height: 60px;
      padding: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      //background-color: $blue;
      border-radius: $radius;

      > div {
        position: relative;
        width: 100%;
        height: 2px;
        background-color: $blue;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.4s ease;

        &::before,
        &::after {
          content: "";
          position: absolute;
          z-index: 1;
          top: -10px;
          width: 100%;
          height: 2px;
          background: inherit;
        }
        &::after {
          top: 10px;
        }
      }
    }
    .toggle:checked ~ .menu {
      visibility: visible;
    }
    .toggle:checked ~ .menu > div {
      transform: scale(1);
      transition-duration: 0.75s;
    }
    .toggle:checked ~ .menu > div > div {
      opacity: 1;
      transition: opacity 0.4s ease 0.4s;
    }
    .toggle:checked + .toggle-icon > div {
      transform: rotate(135deg);
      background-color: $white;
    }
    .toggle:checked + .toggle-icon > div:before,
    .toggle:checked + .toggle-icon > div:after {
      top: 0;
      transform: rotate(90deg);
      background-color: $white;
    }

    .menu {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      visibility: hidden;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;

      .menu-overlay {
        background: rgba($blue, $alpha + 0.2);
        border-radius: 50%;
        width: 220vw;
        height: 220vw;
        display: flex;
        flex: none;
        align-items: center;
        justify-content: center;
        transform: scale(0);
        transition: all 0.4s ease;

        .menu-content {
          text-align: center;
          max-width: 90vw;
          max-height: 100vh;
          opacity: 0;
          transition: opacity 0.4s ease;

          .navbar {
            .navbar-link {
              color: $white;
              font-size: 1.5rem;
              padding: 1rem;
              text-transform: uppercase;
              font-weight: bold;
              transition: all 0.4s ease;

              &:hover {
                font-size: 1.6rem;
              }
            }
          }
        }
      }
    }
  }
}

// Header
header {
  &.hero {
    background-color: rgba($blue, $alpha);
    color: $white;
    height: 100vh;
    position: relative;

    &::before {
      content: "";
      background-image: url(../img/bg-2.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      background-attachment: fixed;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
    }

    .hero-content {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      h1 {
        font-family: $primary;
        text-transform: uppercase;
        font-size: 2rem;
        color: $white;
        margin: 2rem 0;
        text-align: center;
        font-weight: bold;
      }
    }
  }
}

// Sections
section {
  background-color: $black;
  color: $white;
  padding: 3rem 0;

  h2 {
    padding-bottom: 2rem;
    font-family: $primary;
    font-size: 2rem;
    text-transform: uppercase;
  }

  p {
    line-height: 2rem;
    margin-bottom: 2rem;

    &.lead {
      font-size: 2rem;
      font-weight: 300;
      font-style: italic;
      line-height: 3rem;
    }
  }

  &#staff {
    background-color: $white;
    color: $black;

    .staff-cards {
      display: flex;
      flex-direction: column;

      @media only screen and (min-width: 768px) {
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
      }

      .card {
        margin: 2rem 0;
        -webkit-box-shadow: $shadow;
        -moz-box-shadow: $shadow;
        box-shadow: $shadow;
        border-radius: $radius;
        background-color: $black;
        color: $white;

        h3 {
          font-family: $primary;
          font-size: 1.5rem;
          font-weight: 400;
          padding: 1.5rem 0.5rem 0rem;
          text-transform: capitalize;
        }

        img {
          border-radius: 50%;
        }

        p {
          padding: 1.5rem 0.5rem 0rem;
        }

        .staff-links {
          display: flex;

          a {
            display: block;
            background-color: $orange;
            width: 50%;
            padding: 1.5rem 0.5rem;
            border-radius: 0px 0px 0px $radius;
            -moz-border-radius: 0px 0px 0px $radius;
            -webkit-border-radius: 0px 0px 0px $radius;
            transition: all 0.4s ease;

            &:hover {
              background: darken($orange, 5);
            }
          }
          a:last-child {
            background-color: #128c7e;
            border-radius: 0px 0px $radius 0px;
            -moz-border-radius: 0px 0px $radius 0px;
            -webkit-border-radius: 0px 0px $radius 0px;

            &:hover {
              background: darken(#128c7e, 5);
            }
          }
        }
      }
    }
  }

  &#social-media {
    > div {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      @media only screen and (min-width: 768px) {
        flex-direction: row;
        justify-content: space-around;
      }
    }
    button {
      background: $white;
      color: $black;
      font-size: 1.2rem;
      margin: 1rem 0;

      &:hover {
        color: $white;
      }

      &.fb:hover {
        background: #3b5998;
      }
      &.ig:hover {
        background: #c32aa3;
      }
    }
  }

  &#contact {
    background-color: rgba($blue, $alpha);
    width: 100%;
    height: 100%;
    position: relative;

    &::before {
      content: "";
      background-image: url(../img/bg-2.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      background-attachment: fixed;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
    }
    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      margin-bottom: 1rem;
      margin-left: auto;
      margin-right: auto;

      @media only screen and (min-width: 768px) {
        width: 75%;
      }

      input,
      textarea {
        font-family: $primary;
        font-size: 1rem;
        background-color: $white;
        border: none;
        border-radius: $radius;
        width: 100%;
        padding: 0.5rem;
        margin-bottom: 1rem;
        -webkit-box-shadow: $shadow;
        -moz-box-shadow: $shadow;
        box-shadow: $shadow;
        outline: none;
        transition: all 0.4s ease;

        &:focus {
          -webkit-box-shadow: $shadow-hover;
          -moz-box-shadow: $shadow-hover;
          box-shadow: $shadow-hover;
        }
      }
      button {
        width: 100%;
      }
    }
    a {
      font-weight: bold;
    }
  }
}

// Footer
footer {
  padding: 3rem 0;
  background-color: $black;
  color: $white;

  i {
    color: red;
    margin: 0 0.5rem;
  }
}
